.copy-icon {
  $self: &;

  &__default {
    display: block;
  }
  &__success {
    display: none;
  }

  &_success {
    #{ $self }__default {
      display: none;
    }
    #{ $self }__success {
      display: block;
    }
  }
  // END .copy-icon
}

.form {
  $self: &;
  $font-size: 14px;

  input, textarea {
    // &[placeholder] { @include placeholder-styling; }
    &::-webkit-input-placeholder { @include placeholder-styling; }
    &:-moz-placeholder { @include placeholder-styling; }
    &::-moz-placeholder { @include placeholder-styling; }
    &:-ms-input-placeholder { @include placeholder-styling; }
  }
  textarea { height: auto; }
  select { min-width: 0; }
  // label {}

  &__label {
    display: block;
    margin: 0 0 6px 0;
    font-size: em($font-size);
    color: $color-gray-3;
  }

  &__control {
    box-sizing: border-box;
    width: 100%;
    min-width: 0;
    height: em(44px, $font-size);
    @include padding(
      em(10px, $font-size)
      em(20px, $font-size)
      em(10px, $font-size)
      em(20px, $font-size)
    );
    border: solid 1px $color-gray-5;
    border-radius: 0;
    background: $color-white;
    font-family: $font-default;
    font-size: rem($font-size);
    line-height: em(20px, $font-size);
    color: $color-gray-3;
    vertical-align: middle;

    &-icon {
      display: block;
      position: absolute;
      top: 50%;
      right: em(20px, 20px);
      transform: translateY(-50%);
      width: 1em;
      height: 1em;
      font-size: 20px;
      color: $color-red;

      svg {
        display: block;
        width: 1em;
        height: 1em;
      }
    }

    &_bold {
      font-weight: $bold;
    }
    &:focus, &_focused {
      border-color: $color-yellow;
    }
  }

  &__item {
    margin: 0 0 rem($font-size) 0;

    &_w-icon {
      position: relative;

      #{ $self }__control {
        padding-right: em(60px, $font-size);
      }
    }

    &_required {
      position: relative;

      #{ $self }__control {
        padding-right: em(40px, $font-size);
      }
      &::after {
        content: '*';
        pointer-events: none;
        position: absolute;
        right: 20px;
        top: 50%;
        margin: em(4px, 20px) 0 0 0;
        font-size: 20px;
        line-height: 1;
        color: $color-gray-6;
        transform: translateY(-50%);
      }
    }

    &_error {
      position: relative;

      #{ $self }__control {
        padding-right: em(40px, $font-size);
        border-color: $color-red;
      }
      &::after {
        content: '!';
        pointer-events: none;
        position: absolute;
        right: 20px;
        top: 50%;
        margin: 0;
        font-weight: $bold;
        font-size: 20px;
        line-height: 1;
        color: $color-red;
        transform: translateY(-50%);
      }
    }
  }

  &__buttons {
    margin-top: 45px;
  }
  // END .form
}
