.ninja-top-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  box-sizing: border-box;
  position: relative;
  height: 580px;
  padding: 0 30px;
  background-image: url('~Images/doner-ninja-tab.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: $color-violet;

  &__game {
    box-sizing: border-box;
    position: fixed;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color-black, 0.75);
    opacity: 0;
    pointer-events: none;
    // padding-top: (1760 / 1440) * 100%;

    iframe {
      display: block;
      position: absolute;
      z-index: 0;
      bottom: 0;
      border: none;
    }

    // &-start {}
    &-stop {
      position: absolute;
      right: 10px;
      top: 10px;
      z-index: 10;
    }
    &_active {
      z-index: 100;
      opacity: 1;
      pointer-events: auto;
    }
    &_horizontal {
      iframe {
        left: 0;
      }
    }
    &_vertical {
      iframe {
        left: 50%;
        // width: 100%;
        transform: translateX(-50%);
      }
    }
  }
  &__bg-piece {
    $baseW: 1366px;
    $baseH: 650px;
    position: absolute;
    width: 100%;

    &_1 {
      // _potato-chip
      left: (30px / $baseW) * 100%;
      top: (280px / $baseH) * 100%;
      @include bg-piece-size($baseW, 175px, 133px);
      transform: scaleX(-1) rotate(-350deg);
    }
    &_2 {
      // _potato-chip
      left: (1180px / $baseW) * 100%;
      top: (280px / $baseH) * 100%;
      @include bg-piece-size($baseW, 175px, 133px);
      transform: rotate(50deg);
    }
  }
  &__bg {
    // overflow: hidden;
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  &__desc {
    font-size: 12px;
    color: $color-white;
  }
  &__btn {
    margin: 0 0 20px 0;
    width: 200px;
  }
  &__scroll-down {
    margin: 0 0 10px 0;
  }

  @media (min-width: 800px) {
    // height: 650px;
    height: 100vh;
    background-image: url('~Images/doner-ninja-desktop.png');

    &__bg {
      display: block;
    }
    &__btn {
      margin: 0 0 30px 0;
    }
    &__scroll-down {
      margin: 0 0 20px 0;
    }
  }
  @media (min-width: 1200px) {
  }
  // END .ninja-top-block
}
