.step {
  $self: &;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 5;

  &__bg-piece {
    $baseW: 315px;
    // $baseW: 311px;
    // $baseH: 223px;
    position: absolute;
    width: 100%;

    &_1 {
      left: (-30px / $baseW) * 100%;
      bottom: 0;
      @include bg-piece-size($baseW, 111px, 76px);
    }
    &_2 {
      right: (-30px / $baseW) * 100%;
      bottom: 0;
      @include bg-piece-size($baseW, 68px, 84px);
    }
    &_3 {
      left: (-50px / $baseW) * 100%;
      top: 20%;
      @include bg-piece-size($baseW, 84px * 1.25, 64px * 1.25);
      transform: scaleX(-1);
    }
  }
  &__bg {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 0 0 15px 0;
  }
  &__visual {
    display: block;
    width: 100%;
    margin: 0 auto;
  }
  &__number {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: (62 / 170) * 100%;
    height: auto;

    &_right {
      left: auto;
      right: 0;
    }
  }
  &__img {
    align-self: center;
    position: relative;
    width: 55%;
    // max-width: 170px;
    max-width: 310px;

    &_number {
      max-width: 100px;

      #{ $self }__number {
        position: relative;
        width: 100%;
        margin: 0 auto;
      }
    }
  }
  &__desc {
    position: relative;
    width: 100%;
    font-weight: $bold;
    font-size: 16px;
    color: $color-dark;
    text-align: center;
  }

  @media (min-width: 600px) and (max-width: 1199px) {
    flex-direction: row;
    align-items: center;

    &__bg-piece {
      display: none;
    }
    &__bg {
      width: calc(50% - 30px);
      margin: 0 15px;
    }
    &__img {
      width: 100%;
    }
    &__desc {
      width: 50%;
    }
  }

  @media (min-width: 1200px) {
    &__bg-piece {
      $baseW: 270px;
      $baseH: 270px;

      &_1 {
        left: (-160px / $baseW) * 100%;
        top: (380px / $baseH) * 100%;
        @include bg-piece-size($baseW, 210px, 143px);
      }
      &_2 {
        display: none;
      }
      &_3 {
        left: (240px / $baseW) * 100%;
        top: (380px / $baseH) * 100%;
        @include bg-piece-size($baseW, 194px, 148px);
        transform: none;
      }
    }
    &__bg {
      max-width: 270px;
      margin-left: auto;
      margin-right: auto;
    }
    &__img {
      width: 100%;
    }
    &__number {
      &_right {
        right: auto;
        left: 0;
      }
    }
    &__desc {
      font-size: 24px;
    }
  }
  // END .step
}

.steps-block {
  padding: 40px 0;
  background-color: $color-white;
  text-align: center;

  &__bg-piece {
    $baseW: 375px;
    $baseH: 524px;
    position: absolute;
    width: 100%;

    &_1 {
      // _doner
      left: (-20px / $baseW) * 100%;
      top: (-50px / $baseH) * 100%;
      @include bg-piece-size($baseW, 84px, 143px);
      transform: scaleX(-1) rotate(96deg);
    }
    &_2 {
      // _doner
      left: (310px / $baseW) * 100%;
      top: (-50px / $baseH) * 100%;
      @include bg-piece-size($baseW, 84px, 143px);
      transform: rotate(96deg);
    }
    &_3 {
      // _garlic
      left: (-30px / $baseW) * 100%;
      top: (460px / $baseH) * 100%;
      @include bg-piece-size($baseW, 98px, 111px);
      transform: rotate(-20deg);
    }
    &_4 {
      // _tomato
      left: (310px / $baseW) * 100%;
      top: (450px / $baseH) * 100%;
      @include bg-piece-size($baseW, 111px, 110px);
      transform: rotate(-20deg);
    }
  }
  &__bg {
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  &__item {
    flex-shrink: 0;
    flex-grow: 0;
    margin: 0 30px 30px 30px;
    padding: 0;
  }
  &__list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 740px;
    margin: 0 auto;
    padding: 0;
  }
  &__btn {}

  &_w-bg {
    position: relative;
    z-index: 10;
    padding-top: 65px;
  }

  @media (min-width: 600px) and (max-width: 1199px) {
    &__bg-piece {
      $baseW: 600px;
      $baseH: 495px;

      &_1 {
        // _doner
        left: (0px / $baseW) * 100%;
        top: (-80px / $baseH) * 100%;
        @include bg-piece-size($baseW, 84px, 143px);
      }
      &_2 {
        // _doner
        left: (530px / $baseW) * 100%;
        top: (-80px / $baseH) * 100%;
        @include bg-piece-size($baseW, 84px, 143px);
      }
      &_3 {
        // _garlic
        left: (-30px / $baseW) * 100%;
        top: (440px / $baseH) * 100%;
        @include bg-piece-size($baseW, 98px, 111px);
      }
      &_4 {
        // _tomato
        left: (530px / $baseW) * 100%;
        top: (430px / $baseH) * 100%;
        @include bg-piece-size($baseW, 111px, 110px);
      }
    }
    &__item:nth-child(2n) {
      flex-direction: row-reverse;
    }
  }

  @media (min-width: 1200px) {
    &__bg-piece {
      $baseW: 1366px;
      $baseH: 389px;

      &_1 {
        // _doner
        left: (20px / $baseW) * 100%;
        top: (-230px / $baseH) * 100%;
        @include bg-piece-size($baseW, 232px, 396px);
      }
      &_2 {
        // _doner
        left: (1130px / $baseW) * 100%;
        top: (-230px / $baseH) * 100%;
        @include bg-piece-size($baseW, 232px, 396px);
      }
      &_3 {
        // _garlic
        left: (-30px / $baseW) * 100%;
        top: (290px / $baseH) * 100%;
        @include bg-piece-size($baseW, 174px, 196px);
      }
      &_4 {
        // _tomato
        left: (1260px / $baseW) * 100%;
        top: (280px / $baseH) * 100%;
        @include bg-piece-size($baseW, 168px, 167px);
      }
    }
    &__item {
      width: calc(100% / 3 - 60px);
    }
    &__list {
      flex-direction: row;
      max-width: 1240px;
    }

    &_w-bg {
      padding-top: 100px;
    }
  }
  // END .steps-block
}
