footer.footer
  .footer__contacts
    a.footer__contact(href='tel:+70007788') #[b Контактный телефон:] +7 000 77 88
    a.footer__contact(href='tel:+70007788') #[b Viber:] +7 000 77 88
  .footer__socials
    a.footer__social(href='#'): +svg-include('ico-vk')
    a.footer__social(href='#'): +svg-include('ico-fb')
    a.footer__social(href='#'): +svg-include('ico-instagram')
  .footer__copyright &copy;2017 LAY’S INS. All rights resserved
