-
  require('Images/kz/doner-ninja-desktop-kz.png');
  require('Images/kz/doner-ninja-kz.png');
  require('Images/kz/doner-ninja-tab-kz.png');
  require('Images/kz/main-desktop-kz.png');
  require('Images/kz/main-tab-kz.png');
  require('Images/kz/share-kz.png');
  require('Images/kz/text-personal-donery-kz.png');
  require('Images/kz/text-presents-kz.png');
  require('Images/kz/winners-desktop-kz.png');
  require('Images/kz/winners-tab-kz.png');
